<div class="container" [ngBusy]="{busy: subscriptionTable, message: 'Cargando...'}">
  <div class="row" *ngFor="let row of data">
    <div *ngFor="let user of row" class="col-3">
      <app-card [img]="user.avatar_url"
                [name]="user.name"
                [linkGithub]="user.html_url"
                [description]="user.description"
                [openIssues]="user.open_issues"
                [forks]="user.forks">
      </app-card>
    </div>
  </div>
</div>

<!--@Input() img: any = '../../../../assets/images/user.png';
@Input() name: any;
@Input() linkGithub: any;
@Input() description: any;
@Output() repositories = new EventEmitter<any>();


  @Input() issues: any;
  @Input() openIssues: any;
  @Input() forks: any;-->


<button (click)="clickPagination()">Next Repository {{ page}}</button>
